NODE_ENV=development

NODE_PORT=3001
NODE_HOST=localhost

HOST_ADDRESS=http://localhost:3001

DB_DIALECT=postgres
DB_HOST=localhost
# Name of the database
DB_NAME=
# Password of the user which owns the database
DB_PASSWORD=
# Port of the db server, default is 5432 for psql
DB_PORT=5432
# User which owns the database
DB_USER=

SIGNATURE_EXPIRATION_SEC=60

COOKIE_SECRET=challengetwotemplate
COOKIE_DOMAIN=localhost
COOKIE_HTTP_ONLY=false
COOKIE_SECURE=false
COOKIE_NAME=challengetwotemplate.sid

SESSION_TABLE=session
